/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

/* Sidebar Styles */
.sidebar {
    width: 25%;
    height: 100vh;
    background-color: grey;
    padding: 20px;
    float: left;
}

.profile-pic {
    width: 80%;
    border-radius: 50%;
    margin: 10px 0;
}

/* Content Styles */
.content {
    width: 75%;
    float: right;
    padding: 20px;
}

.content h2 {
    color: black;
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
}

.content ul {
    list-style-type: none;
    padding-left: 0;
}

.content li {
    margin-bottom: 10px;
    color: gray;
}

.content a {
    color: #333;
}

/* Education Section Styles */
.education-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.education-entry img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Internships Section Styles */
.internship-entry {
    display: flex;
    margin-bottom: 20px;
}

.internship-entry img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.internship-details h3 {
    color: black;
    margin: 0;
}

.internship-details p {
    color: gray;
    margin: 5px 0;
}

