html {
    font-family: 'Lato', sans-serif;
    font-size: large;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    text-align: left;
    max-width: 800px;
    padding: 0 20px;
    margin: auto;
}

.avatar {
    border-radius: 50%;
    width: 175px;
    display: block;
    margin: 0 auto 20px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

a:visited {
    color: gray;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.keyword-box {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.news-list {
    list-style-type: none;
    padding: 0;
}

.news-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.news-date {
    width: 80px;
    font-weight: bold;
    flex-shrink: 0;
}

.news-content {
    margin-left: 10px;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
}


.publication-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row; 
}

.publication-image {
    width: 180px;
    height: auto;
    margin-right: 10px;
    flex-shrink: 0;
}

.publication-content {
    margin-left: 10px;
}


@media (max-width: 600px) {
    .publication-list li {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .publication-image {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .publication-content {
        margin-left: 0; 
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .publication-list li {
        flex-direction: row; 
        align-items: flex-start; 
    }

    .publication-image {
        width: 150px; 
        margin-right: 10px;
    }

    .publication-content {
        margin-left: 10px;
    }
}


@media (min-width: 1025px) {
    .publication-list li {
        flex-direction: row; 
        align-items: center; 
    }

    .publication-image {
        width: 180px; 
        margin-right: 10px;
    }

    .publication-content {
        margin-left: 10px;
    }
}


.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #1565c0;
}

